<iframe id="widget-iframe" src="<%= url_for(action: :show, controller: 'cronut_widget', locale: 'en',
                                            cronuts_url: params['cronuts_url'], donuts_url: params['donuts_url'],
                                            format: :html) %>">
  <p>Placeholder text; only shows up if the page DOESN'T render!</p>
</iframe>